<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swapniljain.jinshashan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.JNListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.JNLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.JNSearchResultsActivity" />

        <activity
            android:name=".activity.JNDetailActivity"
            android:label="@string/title_activity_jndetail"
            android:parentActivityName=".activity.JNListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.JNFavoritesActivity"
            android:label="@string/title_activity_jnfavorites" />

        <activity
            android:name=".activity.JNTakeAVowActivity"
            android:label="@string/title_activity_jntake_avow" />

        <!--
        <receiver android:name=".JNAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jnapp_widget_provider_info" />
        </receiver>
        -->

    </application>

</manifest>